/*Обнуляющие стили*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
   font-family: 'Lobster';
   color: #d23c24;
}
.wrapper{
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.container{
   max-width: 1180px;
   margin: 0px auto;
}
.content{
   flex: 1 1 auto;
}
.header{
   padding: 5px 0;
   border-bottom: 2.5px solid #fbc200;
}
a, a:visited{
   color: #d23c24;
}
.header__row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo{
   padding: 0 20px;
}
.header__logo img{
   height: 80px;
}
.header__nav{
   padding: 0 10px;
}
.header__list{
   display: flex;
   white-space: nowrap;
   padding: 0 20px;
}
.header__list li{
   font-size: 30px;
   padding: 0px 0px 0px 70px;
   text-shadow: 2px 2px 0 #fbc200;   
   white-space: nowrap; 
} 
.header__list a:hover{
   color: #bacc04;
}
.header__icons{
   font-size: 35px;
   text-shadow: 2px 2px 0 #fbc200;
   padding: 0 20px;
   white-space: nowrap;
}
.header__icons a{
   padding: 0 10px;
   white-space: nowrap;
   opacity: 1;
}
.header__icons a:hover{
   opacity: 0.8;
}

.info{
   max-width: 1180px;
   margin: 0 auto;
   font-size: 20px;
   text-align: center;
   padding: 20px;
}
.info__text{
   padding: 30px 0 0 0;
   line-height: 30px;
}
.info__block{
   padding: 20px;
   background: #bacc04;
   border: 2.5px solid #d23c2e;
   border-radius: 10px;
   width: 40%;
   margin: 0 auto;
}
.info__block h2{
   padding: 0 0 20px 0;
   font-size: 30px;
}
.info__list{
   line-height: 30px;
}
.info__list a, a:visited{
   text-decoration: underline;
}
.info__list a:hover{
   font-weight: bold;
}

.footer{
   background-color: #f8c305;
}
.footer__row{
   display: flex;
   min-height: 65px;
   justify-content: space-between;
   align-items: center;
}
.footer__social{
   font-size: 40px;
   white-space: nowrap;
   padding: 0 20px;
}
.footer__social a{
   padding: 0 10px;
   opacity: 1;
}
.footer__social a:hover{
   opacity: 0.8;
}
.footer__info{
   color: #fff;
   font-size: 14px;
   letter-spacing: 1.5px;
   text-align: center;
   padding: 0 10px;
}
.footer a, .footer a:visited{
   color: #d23c24;
}
.footer a:hover{
   font-weight: bold;
}
.footer__contact{
   font-size: 35px;
   padding: 0 20px;
   white-space: nowrap;
}
.footer__button{
   background-color: #d23c2e;
   color: #fff;
	padding: 10px;
	font-size: 30px;
	border: 2.5px solid #d23c2e;
	border-radius: 10px;
	position: fixed;
	right: 10px;
	bottom: 75px;
}
.footer__button:hover{
	background-color: #bacc04;;
   color: #d23c2e;
}